---
import Topbar from "../components/Topbar.astro";
import Navboks from "../components/Navboks.astro";
import Footer from "../components/Footer.astro";
import Kategoricard from "../components/Kategoricard.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="stylesheet" href="../public/style.css" />
  </head>
  <body>
    <div class="bodygrid">
      <Navboks />
      <main>
        <Topbar />
        <section class="scroll-section">
          <Kategoricard title="Podcasts" />
          <Kategoricard title="Hitlister" />
          <Kategoricard title="Opdag" />
          <Kategoricard title="Pop" />
          <Kategoricard title="Rock" />
          <Kategoricard title="Jazz" />
          <Kategoricard title="Eksempel" />
          <Kategoricard title="Eksempel" />
          <Kategoricard title="Eksempel" />
          <Kategoricard title="Eksempel" />
          <Kategoricard title="Eksempel" />
          <Kategoricard title="Eksempel" />
          <Kategoricard title="Eksempel" />
          <Kategoricard title="Eksempel" />
          <Kategoricard title="Eksempel" />
          <Kategoricard title="Eksempel" />
          <Kategoricard title="Eksempel" />
          <Kategoricard title="Eksempel" />
          <Kategoricard title="Eksempel" />
          <Kategoricard title="Eksempel" />
          <Kategoricard title="Eksempel" />
        </section>
      </main>
    </div>
    <Footer />
  </body>
</html>
