---
const title = Astro.props.title;
---

<figure>
  <h2>{title}</h2>
</figure>

<style>
    article {
    gap: 1px;
    width: 150px;
    height: 270px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-color: rgb(35, 34, 34);
    background-color: rgb(39, 37, 37);
  }
  h2 {
    color: antiquewhite;
  }
</style>
