---
import Button from "./Button.astro";
---

<header class="topbar">
  <div class="button-group">
    <Button variant="tertiary" size="medium">Sign up</Button>
    <Button variant="primary" size="medium">Log in</Button>
  </div>
</header>

<style>
  .topbar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: black;
    padding: 1rem;
  }
  .button-group {
    justify-content: space-between;
    margin-left: auto;
  }
</style>
